table {
    table-layout: fixed;
    width: 100%;
    border-spacing:0;
    padding-left: 6em;
    /* margin-left:auto;
    margin-right:auto; */
}
  
td, th {
    border: 0.75px solid hsl(220 10% 80%);
    padding: .4em;
    white-space:pre-wrap;
    word-wrap:break-word;
}

thead {
    background-color: hsl(216, 66%, 32%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

table input {
    border: none;
    width: 100%;
}

summary {
    margin-left: auto;
    margin-right: auto;
}

details {
    padding: 20px;
    margin: 10px;
    padding: 10px;
}

.expenseInput {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    padding-right: 2.5em;
    width: 100%;
}

.expenseInput div {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 66%, 32%);
    color: hsl(0, 0%, 100%);
}

/* .expenseInput label {
    margin: 0.3em;
} */

#scroll {
    position: fixed;
    Bottom: 1em;
    right: 2em;
}

.deleteButton {
    border: none;
}

button {
    background-color: hsl(216, 66%, 32%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 0.1em;
}

button:hover {
    background-color: hsl(216, 69%, 15%);
}

#owes {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newexpenseheader {
    display: flex;
    justify-content: left;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addsavebuttons {
    padding-top: 1.5em;
}

#addsavebuttons button {
    font-size: 14pt;
}

.personalInput {
    display: flex;
    justify-content: center;
    gap: 0.7em;
}

.personalInput div {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 66%, 32%);
    color: hsl(0, 0%, 100%);
    width:100%
}


